@page
@model IndexModel
@{
  ViewData["Title"] = "意見投稿";

  // エラーメッセージリスト
  var errorMessages = ViewData["ErrorMessages"] as List<string>;
}

<div class="container">
  <div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2 id="error" style="color:red;">
      @if(errorMessages != null)
      {
        foreach(var item in errorMessages)
        {
          @item <br>
        }
      }
    </h2>

    <div style="color:red;">
      良い点や改善点を投稿してください。
    </div>
  </div>

  <form method="POST">
    <div class="form-row">
      <div class="form-group col-md-6 offset-md-3">
        <label for="Message_SendTo">宛先</label>
        <select class="form-control" asp-for="Message.SendTo" asp-items="Model.SendTargetList"></select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 offset-md-3">
        <label for="Message_Detail">本文</label>
        <textarea class="form-control" rows="3" placeholder="意見を入力してください。" required asp-for="Message.Detail"></textarea>
        <div class="invalid-feedback">
          必ず入力してください。
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 offset-md-3">
        <button class="btn btn-secondary mb-2" id="clear">クリア</button>

        <input class="btn btn-primary mb-2 float-right" id="send" type="submit" value="送信" />
      </div>
    </div>
  </form>
</div>

@section scripts{
  <script type="text/javascript">
    $(function () {

      // 送信チェック
      $("#send").click(function () {
        if ($("#Message_Detail").val() === "") {
          setDisplayError(true);
          return false;
        } else {
          setDisplayError(false);
          return true;
        }
      });

      // 入力クリア
      $("#clear").click(function () {
          setDisplayError(false);
        $("#Message_Detail").val("");
        return false;
      });
    });

    /**
     * エラーの表示設定
     */
    function setDisplayError(display) {
      if (display) {
        $("form").addClass("was-validated");
      } else {
        $("form").removeClass("was-validated");
      }

      // エラーメッセージの非表示
      if ($("#error").text() !== "") {
        $("#error").hide("");
      }
    }
  </script>
}