@page "{handler=}"
@model IkenBako.Pages.LoginModel
@{
    ViewData["Title"] = "ログイン";

    // エラーメッセージリスト
    var errorMessages = ViewData["ErrorMessages"] as List<string>;
}

<div class="container">
    <div class="text-center" style="margin-bottom: 2em;">
        <h1>@ViewData["Title"]</h1>
    </div>
    @if (errorMessages != null)
    {
        <div class=" col-md-6 offset-md-3" style="border: 1px red solid; margin-bottom: 1em;color:red;">
            <ul>
            @foreach (var item in errorMessages)
            {
                <li>@item </li>
            }
            </ul>
        </div>
    }

    <form method="POST">
        <div class="form-row">
            <div class="form-group col-md-6 offset-md-3">
                <label for="Target">ID</label>
                <input asp-for="Target" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-md-3">
                <label for="Target">Password</label>
                <input asp-for="Password" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-md-3">
                <input class="btn btn-primary mb-2 float-right" id="send" type="submit" value="ログイン" />
            </div>
        </div>
    </form>
</div>

