@page
@model IkenBako.Pages.SendSuccessModel
@{
    ViewData["Title"] = "意見メッセージ投稿しました";
}

<div class="text-center">
  <h1>
    意見メッセージを投稿しました。<br>
    ご意見ありがとうございます。
  </h1>

  <h2><a asp-area="" asp-page="/Index">意見メッセージ投稿画面へ</a></h2>
</div>
